* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1626px;
    height: 4234px;
    x: 0px;
    y: 0px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.header {
    height: 70px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border: 1px solid gray;
}

.navigation {
    display: flex;
    gap: 40px;
    text-align: center;
    font: normal normal bold 11px / 15px Open Sans;
    letter-spacing: 3.28px;
    color: #A5A5A5;
}

button {
    color: white;
    background-color: #08A6E4;
    width: 330px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
    border: transparent;
    margin-top: 25px;
}



a {
    text-decoration: none;
    top: 28px;
    left: 900px;
    width: 80px;
    height: 15px;
    padding-top: 20px;


}

.logo {

    color: #08A6E4;
    opacity: 100%;
    top: 16px;
    left: 136px;
    width: 142px;
    height: 37px;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    padding-top: 15px;
    margin-left: 136px;

}

.background-foto {
    width: 1260px;


}

h1 {
    font-family: raleway;
    font-weight: 300;
}

p {
    color: #000000;
    opacity: 100%;

}

.section-3 {
    height: 400px;
}

h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 100%;
}

.group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}


.number {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
}

.text {
    color: #A5A5A5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.section-4 {

    height: 1200px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.div-1 p {
    border-bottom: 4px solid #FB3B64;
    width: 150px;
}

.div-1 {
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 370px;
    margin-top: 80px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.div-2 {

    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 370px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bealways {
    margin-top: 30px;
    margin-bottom: 20px;
}

.be-always p {
    font-size: 12px;
    padding-bottom: 20px;
}

.be-always h2 {
    margin-top: 30px;
    padding-bottom: 20px;
}

.macbook2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

.mc-2 {
    max-width: 55%;
}

.iphone2 {
    max-width: 80%;
    margin-top: 40px;
}

.iphone-2 {}

.your-shop p {
    font-size: 12px;
    padding-bottom: 20px;


}

.your-shop h2 {
    margin-top: 30px;
    padding-bottom: 20px;
}

.div-2 p {
    border-bottom: 4px solid #08A6E4;
    width: 150px;

}

.div-3 {
    background-color: white;
    box-sizing: border-box;
    /*  width: 800px; */
    width: 450px;
    height: 370px;
    margin-left: 250px;
    margin-bottom: 40px;
    display: flex;

}

.div-3 h2 {

    margin-top: 30px;
    padding-bottom: 20px;
}

.div-3 p {
    border-bottom: 4px solid #55DFB4;
    width: 150px;
    font-size: 12px;
    padding-bottom: 20px;
    margin-left: 50px;

}



.foto-trumpet {
    max-width: 59%;
    background-color: #55DFB4;
    margin-left: 327px;
    border-radius: 5px;
}

.trumpet {
    margin-top: 80px;
}


.section-5 {
    height: 900px;
}

.pricing {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    font-style: Open Sans, Regular, ;

}

.box {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.section-5 h2 {
    margin-bottom: 30px;
    margin-top: 40px;
}

button.begin {
    width: 230px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
    border: transparent;
    margin-top: 25px;
}

.btn1 {
    background-color: red;
    position: absolute;
    top: 2810px;
}

.btn2 {
    background-color: #07ACE6;
}

.btn3 {
    background-color: #55DFB4;
}

.basic {
    border: 2px solid #FB3B64;
    border-radius: 18px;
    width: 300px;
    height: 400px;

}

.basic p {
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.basic h2 {
    color: #FB3B64;
}

.professional {
    border: 2px solid #07ACE6;
    border-radius: 18px;
    width: 300px;
    /*  height: 200px; */
}

.professional h2 {

    color: #07ACE6;
}

.professional p {
    padding-bottom: 40px;
    height: 100px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

.premium {
    height: 400px;
    width: 300px;
    border: 2px solid #55DFB4;
    border-radius: 18px;
}

.premium p {
    padding-bottom: 40px;
    justify-content: center;
    display: flex;
    margin-top: 20px;

}

.premium h2 {
    color: #55DFB4;
}

.box ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn1 {
    width: 200px;
    margin-left: 45px;
}

.btn2 {
    width: 200px;
    margin-left: 45px;
}

.btn3 {
    width: 200px;
    margin-left: 45px;
}

.section-6 {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

/* a.email::before {
    content: " ";
    position: absolute;
    background: url(../images/Mail\ Icon.svg) no-repeat;
    margin-left: 30px;


} */

.contact p {
    color: #08A6E4;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(188, 184, 184);
    margin-bottom: 30px;
    width: 300px;
}

textarea {
    text-align-last: left;
    border: transparent;
    font-size: 9px;
    outline: none;
}

button.btn {

    width: 159px;
}


.checkbox input:checked {
    background: url(/images/Checkmark.svg) no-repeat;

}




.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.twiter {
    background-image: url(../images/Twitter.svg);
}