* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1626px;
    height: 4234px;
    x: 0px;
    y: 0px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.header {
    height: 70px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border: 1px solid gray;
}

.navigation {
    display: flex;
    gap: 40px;
}

button {
    color: white;
    background-color: #08A6E4;
    width: 330px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
    border: transparent;
    margin-top: 25px;
}



a {
    text-decoration: none;
    top: 28px;
    left: 900px;
    width: 80px;
    height: 15px;
    padding-top: 20px;


}

.logo {

    color: #08A6E4;
    opacity: 100%;
    top: 16px;
    left: 136px;
    width: 142px;
    height: 37px;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    padding-top: 15px;
    margin-left: 136px;

}

.background-foto {
    width: 1260px;


}

h1 {
    font-family: raleway;
    font-weight: 300;
}

p {
    color: #000000;
    opacity: 100%;

}

.section-3 {
    height: 400px;
}

h2 {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 100%;
}

.group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}


.number {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
    opacity: 1;
}

.text {
    color: #A5A5A5;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.section-4 {

    height: 1200px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.div-1 p{
    border-bottom: 4px solid #FB3B64;
}
 
.div-1 {
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 370px;
    margin-top: 80px;
    margin-left: 250px;
   
}

.div-2 {
    
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 370px;
    margin-left: 250px;
}
.mc-2  {
    max-width: 30%;
}
.iphone2 {
    max-width: 30%;
}

.div-3 {
    background-color: white;
    box-sizing: border-box;
    width: 800px;
    height: 370px;
    margin-left: 250px;
    margin-bottom: 40px;
}
.section-5 {
    height: 900px;
}

.pricing {
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    color: #000000;
    font-style: Open Sans, Regular, ;

}

.box {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.section-5 h2 {
    margin-bottom: 30px;
    margin-top: 40px;
}

button.begin {
    width: 230px;
    height: 50px;
    border-radius: 40px 40px 40px 40px;
    border: transparent;
    margin-top: 25px;
}
.btn1 {
    background-color: red;
}
.btn2 {
    background-color: #07ACE6;
}
.btn3 {
    background-color: #55DFB4;
}